# Build outputs
dist/
build/
.nuxt/
.output/
.vite/

# Dependencies
node_modules/

# Logs
*.log

# Environment files
.env*

# Cache
.cache/
.temp/
.tmp/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Specific files
package-lock.json
yarn.lock
pnpm-lock.yaml